@import "daily-project-single";
@import "daily-project-single";

.ranking-list-no {
  min-width: 40px;
  width: 48px;
  text-align: center;
  margin-right: 12px;
  > img {

  }
  > span {
    display: inline-block;
    height: 30px;
    width: 20px;
    line-height: 30px;
    text-align: center;
    font-size: 22px;
    font-family: '黑体';
    font-weight: bolder;
    color: #999999;

    //background: #0a6ebd;
  }
}

.ranking-list-card {
  .card-header:after{
    background-color: transparent;
  }
  .list-block > ul > .item-content {
    //background: red;
    //background-color: #c8c7cc;
    //border-bottom: 1px solid #F2F1F9;
  }
  .list-block .item-inner:after {
    background-color: transparent;
  }
}

/**
.ranking-list-container {
  background: #fff;
  position: relative;
}

ul.ranking-list-avatars {
  position: absolute;
  top: 37px;
  left: 10px;
  background: transparent;

  > li.item-content {
    height: 46.2px;
    background: transparent;
  }
}**/