<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<!-- Panels overlay-->
<div class="panel-overlay"></div>
<!-- Left panel with reveal effect-->
<div class="panel panel-left panel-reveal">
    <div class="content-block">
        <p>K11 Reports</p>
    </div>
</div>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="center sliding">K11 Reports App</div>
                <div class="right">
                    <!--
                      Right link contains only icon - additional "icon-only" class
                      Additional "open-panel" class tells app to open panel when we click on this link
                    -->
                    <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                </div>
            </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, "data-page" contains page name -->
            <div data-page="index" class="page">
                <!-- Scrollable page content -->
                <div class="page-content">
                    <div class="content-block-title">Page content goes here</div>
                    <div class="list-block">
                        <ul>
                            <li>
                                <a href="page/daily-project-single.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Daily Report for Single Project</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/daily-project-multi/index.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Daily Report for Multi Projects Comparison</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/monthly-project-single.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Monthly Report for Single Project</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/monthly-project-multi/index.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Monthly Report for Multi Projects Comparison</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/daily-project-for-sh.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">For SH</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/daily-project-for-adrain.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">For Adrain</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/qrcode.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">QRCode</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="page/ranking-list.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Ranking List</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Toolbar-->
        <!--<div class="toolbar">-->
        <!--<div class="toolbar-inner">-->
        <!--&lt;!&ndash; Toolbar links &ndash;&gt;-->
        <!--<a href="#" class="link">链接 1</a>-->
        <!--<a href="#" class="link">Link 2</a>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div class="popup popup-monthly-project-multi-echarts">
    <div class="content-block">
        <p>
            <a href="#" class="close-popup link">
                <i class="icon icon-back"></i>
                <span style="font-size:17px;">Back</span>
            </a>
        </p>

        <div class="list-block">
            <ul>
                <li>
                    <label class="label-checkbox item-content">
                        <!-- Checked by default -->
                        <input type="checkbox" name="projects-checkbox" value="K11 HK" checked="checked">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 HK</div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="projects-checkbox" value="K11 SH" checked="checked">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 SH</div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <!-- Checked by default -->
                        <input type="checkbox" name="projects-checkbox" value="K11 GZ">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 GZ</div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="projects-checkbox" value="K11 WHGG">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 WHGG</div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="projects-checkbox" value="K11 SYAM">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 SYAM</div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="projects-checkbox" value="K11 D Park">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 D Park</div>
                        </div>
                    </label>
                </li>
                <li>
                    <label class="label-checkbox item-content">
                        <input type="checkbox" name="projects-checkbox" value="K11 Kuriosity">
                        <div class="item-media">
                            <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">K11 Kuriosity</div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>